blinker
click
colorama
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
mysql-connector
numpy
opencv-python-headless
opencv-contrib-python-headless
Pillow
Werkzeug
mysql-connector-python

